    <div class="row">
    <%= erb :"analysis/_statistics" %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>Design Analysis</h1>
<%= erb :"analysis/_lazy_poltergeist" if @analysis[:LazyPoltergeist]%>
<%= erb :"analysis/_inheritence" if @analysis[:Inheritence]%>
<%= erb :"analysis/_global_variable" if @analysis[:GlobalVariable]%>
<%= erb :"analysis/_excessive_method_params" if @analysis[:ExcessiveMethodParams]%>
<%= erb :"analysis/_object_orgy" if @analysis[:ObjectOrgy]%> 
      <div class="col-md-2"></div>
    </div>
