<div class="row">

<h1 style="padding-left:30px; color:white">Key Statistics</h1>
</div>
<div class="row">
<div class="col-md-4 center-block" style="padding-left:30px">
  <h3 data-toggle="tooltip" title="Percentage of your methods that are less than 5 lines."><a href="https://goo.gl/eh8xVG">Mega <br>Methods</a></h3>
  <div class="c100 p<%= @analysis[:MethodsLessThanFive][:percentage].ceil %>">
  <span style="color:green"><%= @analysis[:MethodsLessThanFive][:percentage] %>%</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div></div>
<div class="col-md-4 center-block">
  <h3 data-toggle="tooltip" title="Percentage of your class that are less than 100 lines."><a href="https://goo.gl/eh8xVG">Waffling Classes</a></h3>
  <div class="c100 p<%= @analysis[:ClassesLessThanHundred][:percentage].ceil %>">
    <span style="color:green"><%= @analysis[:ClassesLessThanHundred][:percentage] %>%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div></div>
<div class="col-md-4 center-block">
  <h3 data-toggle="tooltip" title="Percentage of your methods that are Public vs Private."><a href="https://goo.gl/Pqw4Mm">Indecent Exposure</a></h3>
    <div class="c100 p<%= @analysis[:PublicPrivateInterface][:percentage].ceil %>">
    <span style="color:red"><%= @analysis[:PublicPrivateInterface][:percentage] %>%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div></div>
</div>
</div>
